<head>
    <title>Admin Edit User</title>
</head>

<body>
    <form action='/adminEditUser' method='POST'>
    <h1>Insert email of user you want to edit:</h1> <br>
    <label for="email">Email</label> <br>
    <input type="text" id="email" name="email" placeholder="Insert Email.."> <br> 
    <input type="submit" id="submit" value="Edit User" onclick=""><br>

    </form>

    <a href="/admin">Back</a> <br>
    
</body>