<head>
    <title>Find your love filter page</title>
</head>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<body>
    
    <h1>I am searching for love in the ages:</h1> <br> 
    

    <br>
    

    <form action='/findYourLove' method='POST'>
    <p>Between</p>
    <input type="text" id="minAge" name="minAge" placeholder="Insert minimum age here..." required> 
    <p>And</p>
    <input type="text" id="maxAge" name="maxAge" placeholder="Insert maximum age here..." required> <br> <br>
    <input type="submit" id="submit" value="Find your Love">
    </form>

    <br>
    
    <form action='/homepage' method='POST'>
    <input type="submit" id="submit" value="Go back to homepage">
    </form>

</body>