<head> 
        <title>Forgot password</title>

    </head>
    <body> 
            <form action='/forgotpass' method='POST'>
            <label for="email">Email</label> <br>
            <input type="text" id="email" name="email" placeholder="Your email.." required> <br>
            <input type="submit" id="submit" value="Forgot Password" onclick=""><br>
            </form>
              <a href="/login">login</a>
    </body>