<!DOCTYPE html>
<html> 
    <head> 
        <title>Eksamensopgave</title>

    </head>
    <body onload=""> 
        
            <form onsubmit="createNewUser()">
                <label for="username">Username</label> <br>
                <input type="text" id="username" value = "" name="Username" placeholder="Your username.."> <br>
                <label for="lname">Password</label> <br>
                <input type="text" id="Password" name="Password" placeholder="Your Password.."> <br>
                <label for="gender">gender</label> <br>
                <input type="text" id="gender" name="gender" placeholder="Your gender.."> <br> 
                <label for="nationality">nationality</label> <br>
                <input type="text" id="nationality" name="nationality" placeholder="Your nationality.."> <br>
                <label for="location">location</label> <br>
                <input type="text" id="location" name="location" placeholder="Your location.."> <br>
                <label for="prefferedSex">prefferedSex</label> <br>
                <input type="text" id="prefferedSex" name="prefferedSex" placeholder="Your prefferedSex.."> <br>
                <label for="interests">interests</label> <br>
                <input type="text" id="interests" name="interests" placeholder="Your interests.."> <br>
                <input type="submit" id="submit" value="submit" onclick=""><br>
              </form>
              <p id="potato">asjdasd</p>
              <script type ="text/javascript" src="/js/javascript.js"></script>
    </body>
    
</html>