<head>
    <title>Login</title>
</head>

<body>
    <form action='/login' method='POST'>
    <label for="email">Email</label> <br>
    <input type="text" id="email" name="email" placeholder="Your Email.."> <br> 
    <label for="password">Password</label> <br>
    <input type="password" id="password" name="password" placeholder="Your Password.."> <br>
    <input type="submit" id="submit" value="Login" onclick=""><br>
    
    </form>

    <a href="/signup">Sign up</a> <br>
    <a href="/">Welcome Page</a>
</body>