<head> 
        <title>New password</title>

    </head>
    <body> 
            <form action='/newpass' method='POST'>
            <label for="password">Password</label> <br>
            <input type="text" id="password" name="password" placeholder="Your new password.." required> <br>
            <input type="submit" id="submit" value="New Password" onclick=""><br>
            </form>
    </body>