<head>
    <title>Changes saved</title>
</head>

<body>
    
    <h1>Your changes have been saved</h1> <br>
    <p>Click the button to return to the homepage</p> <br>

    
    <form action='/homepage' method='POST'>
    <input type="submit" id="submit" value="Homepage">
    </form>


    
</body>