<head> 
        <title>Sign up</title>

    </head>
    <body> 
        
            <form action='/signup' method='POST'>
                <label for="username">Username</label> <br>
                <input type="text" id="username" name="username" placeholder="Your username.."> <br>
                <label for="lname">Password</label> <br>
                <input type="text" id="password" name="password" placeholder="Your Password.."> <br>
                <label for="gender">gender</label> <br>
                Male<input type="radio" id="gender" name="gender" value="Male">
                Female<input type="radio" id="gender" name="gender" value="Female"> <br> 
                <label for="nationality">nationality</label> <br>
                <input type="text" id="nationality" name="nationality" placeholder="Your nationality.."> <br>
                <label for="location">location</label> <br>
                <input type="text" id="location" name="location" placeholder="Your location.."> <br>
                <label for="prefferedSex">prefferedSex</label> <br>
                Male<input type="radio" id="prefferedSex" name="prefferedSex" value="Male"> 
                Female<input type="radio" id"prefferedSex" name="prefferedSex" value="Female"> <br>
                <label for="interests">interests</label> <br>
                <input type="text" id="interests" name="interests" placeholder="Your interests.."> <br>
                <input type="submit" id="submit" value="submit" onclick=""><br>
              </form>
    </body>